.navbarUl {
  list-style: none;
  border-right: 1px solid #a1a1a15f;
  padding: 10px;
  margin: 0;
  top: 0;
  width: 15vw;
  height: 95vh;
  & > li {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    & > button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;
      color: #a1a1a1;
      &:hover {
        color: #a1a1a15f;
      }
    }
    &:hover {
      background-color: #a1a1a15f;
    }
  }
}
.pageheader {
  font-size: 1.3rem;
  display: flex;
  padding-left: 30px;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  border-bottom: 1px solid #a1a1a15f;
  & > a {
    text-decoration: none;
    color: black;
  }
}
.main {
  display: flex;
}
.contentsBox {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  overflow: scroll;
}
