---
interface Props {
  type: "github" | "email" | "web";
  url: string;
  label: string;
}

const { type, url, label } = Astro.props;
const displayUrl = type === "email" ? url.replace("mailto:", "") : url;
const iconPath = {
  github:
    "M12 .5a12 12 0 0 0-3.8 23.4c.6.1.8-.2.8-.6v-2.1c-3.3.7-4-1.4-4-1.4-.5-1.3-1.3-1.6-1.3-1.6-1.1-.8.1-.8.1-.8 1.2.1 1.8 1.2 1.8 1.2 1 .1.8 2.6 3.3 1.9.1-.8.4-1.3.8-1.6-2.7-.3-5.5-1.3-5.5-5.9 0-1.3.5-2.4 1.2-3.2-.1-.3-.5-1.6.1-3.2 0 0 1-.3 3.3 1.2a11.2 11.2 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.9.1 3.2.8.8 1.2 1.9 1.2 3.2 0 4.6-2.8 5.6-5.5 5.9.4.4.8 1.1.8 2.2v3.2c0 .4.3.7.8.6A12 12 0 0 0 12 .5Z",
  email:
    "M2 4h20v16H2V4Zm2 3.2v10.8h16V7.2l-8 5.3-8-5.3Zm.8-1.2 7.2 4.8L19.2 6H4.8Z",
  web:
    "M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm6.9 6h-3a15 15 0 0 0-1.2-3 8.1 8.1 0 0 1 4.2 3ZM12 4.1c.6.9 1.2 2.2 1.6 3.9h-3.2c.4-1.7 1-3 1.6-3.9ZM4.3 14a8.6 8.6 0 0 1 0-4h3.4a17 17 0 0 0 0 4H4.3Zm.8 2h3a15 15 0 0 0 1.2 3 8.1 8.1 0 0 1-4.2-3Zm3-8h-3a8.1 8.1 0 0 1 4.2-3 15 15 0 0 0-1.2 3Zm3.9 11.9c-.6-.9-1.2-2.2-1.6-3.9h3.2c-.4 1.7-1 3-1.6 3.9Zm2-5.9h-4a14.7 14.7 0 0 1 0-4h4a14.7 14.7 0 0 1 0 4Zm.7 5a15 15 0 0 0 1.2-3h3a8.1 8.1 0 0 1-4.2 3Zm1.6-5a17 17 0 0 0 0-4h3.4a8.6 8.6 0 0 1 0 4h-3.4Z",
}[type];
---

<div class="contact-link">
  <svg aria-hidden="true" viewBox="0 0 24 24" width="18" height="18">
    <path d={iconPath}></path>
  </svg>
  <span>{label}. <a href={url}>{displayUrl}</a></span>
</div>
